@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    text-align: center;
    background-color: white;
    padding: 0.1rem;
    overflow-x: hidden;
    margin: 0;

    display: flex;
    justify-content: center;
}

.landingPage-container{
    width: 100vw;
    height: 2000px;
    background-image: url(src/Components/images/01.jpg);
    background-size: cover;
    background-position:center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-field{
    width: 90%;
    height: 90%;
    /* border: 5px solid white; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.text-field{
    width: 80%;
    height: 300px;
    /* border: 2px solid white; */
    padding: 0.1rem;
    margin-top: -5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
#main-text{
    font-size: 5rem;
    font-weight: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: xxx-large; */
    color:black;
    -webkit-text-stroke: 2px brown;
    text-shadow: 2px 2px #FF0000;

}
.search-box-field{
    width: 75%;
    height: 200px;
    /* border: 2px solid white; */
    margin-top: -27rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    height: 90px;
    background: rgba(73, 44, 48, 0.589);
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search-bar input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 20px 20px;
    font-size: 32px;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 60px;

    display: flex;
}
::placeholder{
    color: #292626;
}
.search-bar button img{
    width: 55px;
    height: 55px;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.search-bar button{
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

.info-field-box{
    width: 90%;
    height: 600px;
    /* border: 2px solid white; */
    gap: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aboutUs-field{
    width: 90%;
    height: 90%;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 1rem;
    gap: 1rem;
    overflow-y: scroll;
    background-color: #29262672;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    
}
#main-about-text{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 2px brown;
}

.info-text-content{
    width: 99%;
    height: 100%;
    text-align: left;
    font-size: 1.9rem;
    color: white;
    font-weight: 400;
    /* -webkit-text-stroke: 1px white; */
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}
.footer{
    background-color :#0e0c0c;
    padding:20px;
    text-align:center;
    position:normal ;
    bottom:0;
    width:100%;

}
.footer p{
    margin:0;
    font-size:30px;
    color:#ffffff;
}
