@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  text-align: center;
  background-color: white;
  padding: 0.1rem;
  overflow-x: hidden;
  margin: 0;

  display: flex;
  justify-content: center;
}

.image-generate-container {
  width: 100vw;
  height: 2000px;
  /* border: 2px solid white; */
  background-image: url(src/Components/images/01.jpg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#generate-main-text {
  font-size: 6rem;
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: xxx-large; */
  color: rgb(21, 6, 6);
  -webkit-text-stroke: 2px rgb(227, 45, 45);
  margin-top: 15rem;
  text-shadow:2px 2px red;
}

.input-field-box {
  width: 55%;
  height: 20%;
  /* border: 2px solid white; */
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.instruction-text-area {
  width: 58%;
  height: 50px;
  /* border: 1px solid white; */
  margin-top: 3rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#instruction-text {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  -webkit-text-stroke: 2px black;
}

.prompt-input-box {
  width: 90%;
  height: 70px;
  /* border: 1px solid white; */
  background: rgba(149, 149, 149, 0.589);
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  margin-bottom: 2rem;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
::placeholder{
  color: white;
  font-size: 1.5rem;
}

.button-field{
  width: 15%;
  height: 60px;
  color: white;
  background-color: rgba(75, 68, 68, 0.759);
  border-radius: 10px;
  cursor: pointer;
}

.image-generate-output-field {
  width: 90%;
  height: 1000px;
  /*border: 2px solid black;*/
  margin-top: 3rem;
   border-radius: 15px; 

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image-generate-img {
  width: 500px;
  height: 500px;
  border-radius: 15px; 
  border: 8px white;
  border-style: groove;
  margin-top: 1rem;
}

/* .gen-img-sec {
  display: flex;
} */