@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: white;
    padding: 0.1rem;
    overflow-x: hidden;
    margin: 0;

    display: flex;
    justify-content: center;
}

.navBar-container{
    width: 100vw;
    height:70px;
    position: fixed;
    margin-top: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.nav-logo{
    width: 300px;
    height: 65px;
    overflow: hidden;
    /* border: 1px solid white; */
    gap: 0.5rem;
    margin-left: -5rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
#logo-image-content{
    width: 60px;
    height: 60px;

}

#title-content{
    font-size: 3rem;
    color: white;
}

.nav-menu{
    width: 600px;
    height: 60px;
    /* border: 1px solid black; */
    gap: 4rem;
    font-weight: 900;
    margin-right: -7rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.nav-item-1{
    width: 150px;
    font-size: x-large;
    font-weight: 600;
    /* border: 1px solid white; */
    padding: 0.7rem;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.659);
    color: white;
    
}
.nav-item-2{
    width: 250px;
    font-size: x-large;
    font-weight: 600;
    /* border: 1px solid white; */
    padding: 0.7rem;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.659);
    color: white;
    
}

a.active{
    color: white;
}